<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li><strong>联系电话: </strong>{{ site.data.contact.phone }}</li>
            <li><strong>电子邮件: </strong><a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}</a></li>
          </ul>
          <ul>
            <li><!--<button id="feedback-form">Feedback</button>--></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
